@using System.Web.Mvc.Html
@model Shrike.UserManagement.BusinessLogic.Models.LoginModel
@{
    ViewBag.Title = "Log in";
    Layout = "~/Areas/UserManagementUI/Views/Shared/_AccountPartialLayout.cshtml";
    var routeValues = new { controller = "Account", action = "Login", area = Shrike.Areas.UserManagementUI.AreaPortableName.AreaName, returnUrl = ViewBag.returnUrl, id = "l" };
}

<div class="message-info-header">
    <h1 style="font-size: 1.5em;">@ViewBag.Title</h1>
</div>

<div class="login-content">
    <div id="login-container">
        @using (Html.BeginForm(routeValues))
        {
            @Html.ValidationSummary(true, "Log in was unsuccessful. Please correct the errors and try again.")

            <fieldset id="fieldset-account-login">
                <legend class="subtitle-container">Log in Form</legend>
                <ol>
                    <li>
                        <div class="row-form">
                            <div class="editor-label">
                                @Html.LabelFor(m => m.UserName)
                            </div>
                            <div class="editor-field">
                                @Html.TextBoxFor(m => m.UserName, new { @class = "home-text-field" })
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row-form">
                            <div class="editor-label">
                                @Html.LabelFor(m => m.Password)
                            </div>
                            <div class="editor-field">
                                @Html.PasswordFor(m => m.Password, new { @class = "home-text-field" })
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row-form">
                            <div class="editor-label">
                                @Html.CheckBoxFor(m => m.RememberMe)
                            </div>
                            <div class="editor-field">
                                @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })
                            </div>
                        </div>
                    </li>
                    <li>
                        <div style="text-align: center; margin-top: -20px;">
                            @Html.ActionLink("I forgot my password", "ForgotPassword", "Account")
                        </div>
                    </li>
                </ol>
                <div class="submit-button">
                    <input type="submit" value="Log in" id="submitLoginButton" />
                </div>
            </fieldset>
            <p style="margin-left: 20px">
                @Html.ActionLink("Register", "TakeOwnership", "Account") if you don't have an account.
            </p>
            
@*

            <p style="margin-left: 20px">
                You can use OpenId for login:
            </p>*@
        }

        @* @using (Html.BeginForm("LoginOpenId", "Account", new { ReturnUrl = ViewBag.ReturnUrl }))
        {
            @Html.ValidationSummary(true, "Log in was unsuccessful. Please correct the errors and try again.")

            <fieldset id="fieldset-account-login">
                <legend class="subtitle-container">Log in with OpenID</legend>
                <ol>
                    <li>
                        <div class="row-form">
                            <div class="editor-label">
                                @Html.LabelFor(m => m.OpenId)
                            </div>
                            <div class="editor-field">
                                @Html.TextBoxFor(m => m.OpenId, new { @class = "home-text-field" })
                            </div>
                        </div>
                    </li>
                </ol>
                <div class="submit-button">
                    <input type="submit" value="OpenID Log in" style="width: 200px;" />
                </div>
            </fieldset>
        }*@

    </div>
</div>

@section scripts {
    <script type="text/javascript">
        $(document).ready(function (event) {
            $('.login-content').jScrollPane();
        });
    </script>
}
