@using System.Web.Mvc
@using System.Web.Mvc.Html
@model Shrike.UserManagement.BusinessLogic.Models.ChangePasswordModel
@{
    //if(Session["appUser"] != null)
    //{
    //    var applicationUSer = Session["appUser"]; 
    //}
    
    var applicationUSer = Session["appUser"]; 
}
@{
    ViewBag.Title = "Create new Password";
    Layout = "~/Areas/UserManagementUI/Views/Shared/_AccountPartialLayout.cshtml";    
}
    <div class="message-info-Header">
            <h1>@ViewBag.Title.</h1>
    </div>
    <h3 class="message-info-subHeader">Use this form to create new password.</h3>

<p class="message-info">
   @* Passwords must be at least @Membership.MinRequiredPasswordLength characters long.*@
</p>
@using (Html.BeginForm("ResetPassword","Account",FormMethod.Post, new{id="create-password-id"}))
{
    @Html.ValidationSummary(true)
    <fieldset id="user-add-field-set-account">
        <legend  class="subtitle-container">Create new Password Form</legend>
        <ol>
            <li>
                <div class="row-form">
                    <div class="editor-label">
                        @Html.LabelFor(m => m.NewPassword)
                    </div>
                    <div class="editor-field">
                        @Html.PasswordFor(m => m.NewPassword)                        
                    </div>
                </div>
            </li>
            <li>
                <div>@Html.ValidationMessageFor(m => m.NewPassword)</div>
            </li>
            <li>
                <div class="row-form">
                    <div class="editor-label">
                        @Html.LabelFor(m => m.ConfirmPassword)
                    </div>
                    <div class="editor-field">
                        @Html.PasswordFor(m => m.ConfirmPassword)                       
                    </div>
                </div>
            </li>
            <li>
                <div>@Html.ValidationMessageFor(m => m.ConfirmPassword)</div>                
            </li>
        </ol>
        <input type="submit" value="Change password" />
    </fieldset>
}