
@using System.Web.Mvc
@using System.Web.Mvc.Ajax
@using System.Web.Mvc.Html
@using Shrike.DAL.Manager

@model Shrike.Areas.UserManagementUI.UserManagementUI.Models.PassInfo

@{
    
    
}

<div id="ResetPasswordDiv" class="divNewOwnerInvitation" style="height: 225px;">
    
    
 @using (Ajax.BeginForm("ResetPassword", "User", new { id = "ResetPasswordForm" }, new AjaxOptions
 {
     HttpMethod = "POST",
     UpdateTargetId = "ResetPasswordDiv",
     InsertionMode = InsertionMode.Replace
 }, new { enctype = "multipart/form-data", id = "ResetPasswordForm" }))
 {
        @Html.ValidationSummary(true)
        <fieldset class="group-details-ownerinvitations">
            <legend>&nbsp;</legend>
            <div class="group-title-ownerinvitation">Reset User Password</div>
            <div class="group-content-ownerinvitation" style="height: 125px;">
                @Html.HiddenFor(model=> model.UserId)
                <div class="content-middle" style="width: 100%">
                    <div class="list">
                        <div class="row-form">
                            <div class="editor-label" style="width: 39% !important">
                                <label>@Html.DisplayNameFor(model => model.NewPassword)</label>
                            </div>
                            <div class="editor-field" style="width: 61% !important">
                                @Html.PasswordFor(model => model.NewPassword)
                                @Html.ValidationMessageFor(m => m.NewPassword)
                            </div>
                        </div>

                        <div class="row-form">
                            <div class="editor-label" style="width: 39% !important">
                                <label>@Html.DisplayNameFor(model => model.ConfirmPassword)</label>
                            </div>
                            <div class="editor-field" style="width: 61% !important">
                                @Html.PasswordFor(model => model.ConfirmPassword)
                                @Html.ValidationMessageFor(model => model.ConfirmPassword)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="password-error" id="passwordErrorDiv">
                    Old password and New password are not the same
                </div>
                <div class="row-form-new">
                    <div class="list">
                        <div class="submit-button">
                            <input type="button" value="Reset Password" onclick="ValidateForm()" />
                        </div>
                    </div>
                </div>

            </div>
        </fieldset>
    }

</div>
<div id="dialog-editTag" title=" Assign Tags" style="display: none" hidden="true">
</div>

<script type="text/javascript">
    bandcontentPartial = false;
    $(document).ready(function () {
        $('#content-partial').css('width', "100%");
        var status = '@ViewBag.Status';
        switch (status) {
        case 'Passed':
            {
                alert("Password Update successfully");
                //var url = '@Html.Raw(Url.Action("Index", "User"))';
                //window.location.href = url;
                $("#content-partial").css("display", "none");
            }
            break;
        case 'Error':
            {
                alert("The operation couldn't be completed. " + '@ViewBag.Error');
            }
            break;
        default:
        }
    });

    function ValidateForm() {
        $('#passwordErrorDiv').css('display', 'none');
        jQuery.validator.unobtrusive.parse("#ResetPasswordForm");
        var isValid = jQuery("#ResetPasswordForm").valid();

        if (isValid) {
            var confirmPass = $('#ConfirmPassword').val();
            var newpass = $('#NewPassword').val();
            
            if (confirmPass == newpass) {
                $('#ResetPasswordForm').submit();
            } else {
                $('#passwordErrorDiv').css('display','block');
                //alert("New password and Confirm Password are not the same");
            }
        }
    }

</script>

