@using System.Web.Mvc
@using System.Web.Mvc.Html
@model Shrike.UserManagement.BusinessLogic.Models.OwnerInvitationModel
@{
    ViewBag.Title = "Delete";
    ViewBag.id = Model.SentTo;
    Layout = null;
    var timeZoneService = AppComponents.Catalog.Factory.Resolve<Shrike.TimeZone.Contracts.ITimeZoneService>();
}
<div style="padding:9px 5px">
    @using (Html.BeginForm("Delete", "OwnerInvitation", FormMethod.Post, new { id = "ownerinvitation-delete-form" }))
    {
        @Html.HiddenFor(m => m.Id)

        <fieldset class="group-details-ownerinvitations">
            <div class="group-title-ownerinvitation">Delete Invitation</div>
            <div class="group-content-ownerinvitation" style="padding-left: 0px; height: 150px;">
                <div class="list">
                    <div class="table-Owner">
                        <div class="thead-Owner" style="width: 150px;">
                            <div class="th-Owner"><label>@Html.DisplayNameFor(model => model.SentTo)</label></div>
                            <div class="tr-Owner">@Html.DisplayFor(model => model.SentTo)</div>
                        </div>
                        <div class="thead-Owner" style="width: 150px;">
                            <div class="th-Owner"><label>@Html.DisplayNameFor(model => model.Tenancy)</label></div>
                            <div class="tr-Owner">@Html.DisplayFor(model => model.Tenancy)</div>
                        </div>
                        <div class="thead-Owner" style="width: 150px;">
                            <div class="th-Owner"><label>@Html.DisplayNameFor(model => model.AuthorizationCode)</label></div>
                            @{
        string authorization = string.Empty;
        int cont = 0;
        if (!string.IsNullOrEmpty(Model.AuthorizationCode))
        {
            foreach (var s in Model.AuthorizationCode)
            {
                if (cont < 18)
                {
                    authorization = authorization + s;
                }
                cont++;
            }
            authorization += "...";
        }
                            }
                            <div class="tr-Owner"><label title="@Model.AuthorizationCode">@authorization</label></div>
                        </div>
                        <div class="thead-Owner" style="width: 150px;">
                            <div class="th-Owner"><label>@Html.DisplayNameFor(model => model.DateSent)</label></div>
                            <div class="tr-Owner">@(timeZoneService.ConvertUtcToLocal(Model.DateSent, "MM/dd/yyyy HH:mm:ss"))</div>
                        </div>
                        <div class="thead-Owner" style="width: 152px;">
                            <div class="th-Owner"><label>@Html.DisplayNameFor(model => model.Status)</label></div>
                            <div class="tr-Owner">@Html.DisplayFor(model => model.Status)</div>
                        </div>
                    </div>
                </div>
                <div style="padding-left: 10px;">
                    <label>Are you sure you want to delete this?</label>
                </div>
                <div class="row-form">
                    <div class="submit-button">
                        <input type="submit" value="Delete" onclick="deleteInvitation(this); return false;" />
                    </div>
                </div>
            </div>
            <div id="IdSelected" hidden="hidden">@Model.Id</div>
        </fieldset>
    }

</div>

<script type="text/javascript">
    var loadingScreenDeleteId = '';
    var loadingImageUrl = '@Url.Content("~/Content/Theme/Default/Images/icon-loading.gif")';

    $(document).ready(function () {
        loadingScreenDeleteId = 'screenId' + (new Date()).getTime();
        createOrUpdateLoadingScreen("deleting an invitation...", loadingImageUrl, loadingScreenDeleteId);
    });

    function deleteInvitation(button) {
        var form = $("#ownerinvitation-delete-form");
        var caller = $(button);

        submitFormPost(form, caller, "", '', loadingScreenDeleteId);
    }
</script>